@model WebFrontEnd.Models.DetailTransaction

@{
    ViewBag.Title = "Transaction Details";
}

<h2>Transaction Details</h2>

@if (Model != null)
{
    <table class="table">
        <tr>
            <th>Transaction Id</th>
            <td>@Model.Id</td>
            <!-- Add other details for transaction properties as needed -->
        </tr>
    </table>
}
else
{
    <p style="color: red;">Transaction not found</p>
}

@Html.ActionLink("Back to List", "Index")
